body{
    margin: auto;
    padding: auto;
    background-image: url(pic/1.jpg);
    filter: contrast(5px);
    background-repeat: no-repeat;
    filter:drop-shadow(50px);
    background-position: center;
    background-size: 120%;
}
img{
    border-radius: 50%;
    width: 60%;
    margin: 25% 70% 20%;
    border: solid black 5px;
    border-top: solid blue 5px;
    border-bottom: solid blue 5px;
    filter: saturate(20px);
    filter:hue-rotate(20%);
}
.menu{
    background-image: url(pic/3.jpg);
    height: 500px;
    border-radius: 0px 20%;
    width: 37%;
    margin-top: 0%;
    margin-left: 10px;
    height: 99%;
    padding-bottom: 20px;
    border: solid beige;
}
button{
    color: whitesmoke;
    background-color: tan;
    padding: 5px 20px;
    background-image: url(pic/1.jpg);
    border-color: whitesmoke;
    margin: 15px;
    border-radius: 20px 0px;
}
#btn{
    margin-left: 45%;
    margin-bottom: 10px;
}
#info{
    color: white;
    margin-top: -35%;
    margin-left: 60%;
}
button:hover{
    border-color:  blue;
    cursor: pointer;
}
.fa {
    font-size: 30px;
    width: 20px;
    text-decoration:double;
    background-image: url(pic/4.jpg);
    text-align: center;
    border: red;
    border-radius: 20px;
}
.fa-facebook{
    zoom:200%;
    padding: 5px;
    margin-top: -80%;
    margin-right: 10px;
}
.fa-facebook:hover{
    color: white;
}
.fa-github{
    zoom:200%;
    padding: 5px;
    margin-top: -80%;
    margin-right: 10px;
}
.fa-github:hover{
    color: white;
}
.fa-linkedin{
    zoom:200%;
    padding: 5px;
    margin-top: -80%;
    margin-right: 10px;
}
.fa-linkedin:hover{
    color: white;
}
.fa-instagram{
    zoom:200%;
    padding: 5px;
    margin-top: -80%;
    margin-right: 10px;
}
.fa-instagram:hover{
    color: white;
}
 @media(max-width:480px){
    body{
        background-attachment: fixed;
        width: max-content;
        background-size: cover;
    }
    img {
        width: 45%; /* Adjusted width for mobile */
        margin: 10% auto;
    }
    #btn{
        margin-left: 50px;
    }
    
    .menu {
        width: 90%; /* Adjusted width for mobile */
        margin: 0px auto; /* Adjusted margin for mobile */
    }
    
    button {
        margin: 10px 20px; /* Adjusted margin for mobile */
    }
    
    #info {
        margin-top: -70%;
        margin-left: 45%;
        text-align: center;
    }
    
    .fa-facebook,
    .fa-github,
    .fa-linkedin,
    .fa-instagram {
        margin-top: 0; /* Adjusted margin for mobile */
    }
}